/*Page Preview*/

.bg-orange {
    background-color: #e67b13;
}

.rounded-none {
    border-radius: 0%;
}

.h-full {
    height: 100%;
}

.bg-header {
    background-color: #f2f2f2;
}

.relative {
    position: relative;
}

.text-center { 
    text-align: center;
}

.border {
    border: none;
}

.mt-4 {
    margin-top: 16px;
}

.p-1 {
    padding: 4px;
}

.float-right {
    float: right;
}

.mr-2 {
    margin-right: 8px;
}

/*Desktop*/

@media screen and (min-width: 1024px) {
    
}

/*Tablet*/

@media screen and (min-width: 768px) {
    
}

/*Phone*/

@media screen and (max-width: 425px) {
    .image {
        height: 447px;
        width: 427px;
        margin-top: -203px;
        margin-left: -50px;
    }
}


.overflow {
    overflow: hidden;
}

.table {
    display: table;
}